body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* header content */
.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 15vw;
    margin: 0px;
}

.h.text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.h.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: auto;
    gap: 40px;
    list-style: none;
    font-weight: normal;
}

/* hero image section */

/* left side of section */
.hero {
    display: flex;
    background-color: #1F2937;
    padding: 170px 15vw;
    gap: 5vw;
}

.herotext {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 3 1 0px;
    flex-basis: 10px;
}

.heromain {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroextra {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
    margin-top: 7px;
    line-height: 1.2em;
}

button.hero {
    align-self: flex-start;
    padding: 13px 60px;
    margin-top: 16px;
    border-radius: 10px;
    background-color: #3882F6;
    border: transparent;
    font-family: roboto, sans-serif;
    font-weight: bolder;
    color: #e5e7eb;
    font-size: 20px;
}

/* right side of hero image */
.heroimage {
display: flex;
background-color: #93959975;
justify-content: center;
align-items: center;
flex: 4 1 0px;
}

.imagetext {
color: #e5e7eb;
}

/* random section */
.random {
    display: flex;
    flex-direction: column;
    margin: 70px 180px;
    background-color: white;
    margin-bottom: 120px;
}

.rtext {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    align-self: center;
    margin-bottom: 40px;
}

.boxes {
    align-self: center;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border {
    background-color: rgb(255, 255, 255);
    border: 5px solid #3882F6;
    height: 180px;
    width: 170px;
    margin: 5px 40px;
    border-radius: 30px;
}

.subtext {
    text-align: center;
    color: #1F2937;
}

/* quote section */
.quote {
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 150px 450px;
    justify-content: center;
    align-items: center;
}

.qtext {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
    line-height: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.author {
    margin-top: 20px;
    text-align: right;
    font-weight: bolder;
    font-size: 24px;
    margin-right: 3em;
}

/* call to action box */
.callbox {
    background-color: #3882F6;
    margin: 100px  260px;
    display: flex;
    border-radius: 8px;
    padding: 60px 150px;
    align-items: flex-end;
}

.calltext {
    color: #F9FAF8;
    font-size: 35px;
    font-family: roboto, sans-serif;
    font-weight: bolder;
}

.calltextsmall {
    color: #e5e7eb;
    font-size: 20px;
}

.callboxright {
    margin-left: auto;
    margin-right: 0px;
}

.callboxbutton {
    padding: 10px 40px;
    border-radius: 13px;
    border: 3.5px solid #f9faf8;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bolder;
}

/* footer */
.footer {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 30px;
}

.f.text {
    color: #e5e7eb;
}





